src/models/* filter=lfs diff=lfs merge=lfs -text
src/models/distilbert_model/ filter=lfs diff=lfs merge=lfs -text
src/models/distilbert_model/model.safetensors filter=lfs diff=lfs merge=lfs -text
src/models/random_forest_model.pkl filter=lfs diff=lfs merge=lfs -text
src/models/* !text !filter !merge !diff
